* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	outline: 0px;
}

.main {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	column-gap: 16px;
}

.card-container {
	width: 500px;
	height: 459px;
	margin-top: 39px;
}

@media (max-width: 900px) {
	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.form-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
